.spot-card {
   text-align: left;
   overflow: hidden;
   margin-left: 20px;
}

.spot-card img{
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

.spot-title{
    font-size: 18px;
   margin: 8px 2px 4px;
   font-weight: 500;
}

.heart-icon{
    cursor: pointer;
  position: absolute;
  margin-top: -35px;
  margin-left: 380px;
}
